# Rename env.example -> .env or .env.devleopment
PORT=3002
ITWIN_PORT=3003

NODE_ENV=development
DOMAIN=localhost
AUTH_KEY=pms-server-key
TYPEORM_CONNECTION=mysql
TYPEORM_HOST=
TYPEORM_DATABASE=hdc_db
TYPEORM_LOGGING=true
TYPEORM_SYNCHRONIZE=true
TYPEORM_PORT=3306
TYPEORM_USERNAME=
TYPEORM_PASSWORD=
TYPEORM_DATABASE_ENV=dev
ORIGIN=http://localhost:5502
ITWIN_ORIGIN=http://localhost:3000
FILE_ORIGIN=http://localhost:3002
NODEMAILER_USER=
NODEMAILER_PASS=
UNOCONV_CMD=unoconv -f pdf
LOGGING_ENV=
HOME_PATH=C:/Users/Administrator/Documents/SourceCode/hdc-backend
PDF_GATEWAY_HOST=http://11.11.0.201:8888
PDF_STREAMDOCS_HOST=http://11.11.0.201:8088
PDF_SERVER_URL=http://localhost:3002
IS_WORKER=1